<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="jxau.sms.advanceinfo.dao"><!-- namespace必须是与接口的包路径一致，不然会报错误 -->

    <!--<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" /> --><!-- Mybaties内置二级缓存 -->
    <!-- 查询返回集合类型的配置 -->
    <!-- 查询返回集合类型的配置 -->
    <!-- 使用第三方缓存插件实现二级缓存-->
    
   	<resultMap type="StuAdvInfo" id="listStuAdvInfo">
        <id column="awardNo" property="awardNo" />
        <result column="studentNo" property="studentNo" />
        <result column="advanceActivity" property="advanceActivity" />
        <result column="advLevel" property="advLevel" />
        <result column="advTime" property="advTime" />
        <result column="examState" property="examState" />
        <result column="remarks" property="remarks" />
 	</resultMap>
 	
 	<resultMap type="StuAdvVo" id="listStuAdvVo">
        <result column="studentNo" property="studentNo" />
        <result column="studentName" property="studentName" />
        <result column="sex" property="sex" />
        <result column="college" property="college" />
        <result column="major" property="major" />
        <result column="className" property="className" />
        <result column="advanceActivity" property="advanceActivity" />
        <result column="advLevel" property="advLevel" />
        <result column="advTime" property="advTime" />
        <result column="examState" property="examState" />
        <result column="remarks" property="remarks" />
 	</resultMap>
	 <select id="queryAdvInfoPage" parameterType="java.util.Map"  resultMap="listStuAdvVo">
		select 
		sb.studentNo,
		sb.studentName,
		sb.sex,sb.college,
		sb.major,
		sb.className,
		sa.advanceActivity,
		sa.advTime,
		sa.advLevel,
		sa.examState,
		sa.remarks 
		from stu_basic_info sb inner join stu_adv_info sa on 
	   	sb.studentNo = sa.studentNo where 1 = 1
	   <if test="studentNo != null">
	  		and sb.studentNo = #{studentNo}
	  	</if>
	  	<if test="studentName != null">
	  		and sb.studentName = #{studentName}
	  	</if>
	  	<if test="college != null">
	  		and sb.college = #{college}
	  	</if>
	  	<if test="major != null">
	  		and sb.major = #{major}
	  	</if>
	  	<if test="className != null">
	  		and sb.className = #{className}
	  	</if>
	  	<if test="advanceActivity != null">
	  		and sb.advanceActivity = #{advanceActivity}
	  	</if>
	  	<if test="advLevel != null">
	  		and sb.advLevel = #{advLevel}
	  	</if>
	  	<if test="advTime != null">
	  		and sb.advTime = #{advTime}
	  	</if>
	  	 <if test="examState != null">
        	and sa.examState=#{examState}
       </if>
	  	<if test="remarks != null">
	  		and sb.remarks = #{remarks}
	  	</if>
        limit #{start},#{number};
    </select>
     <select id="queryAdvInfo" parameterType="java.util.Map"  resultMap="listStuAdvVo">
		select 
		sb.studentNo,
		sb.studentName,
		sb.sex,
		sb.college,
		sb.major,
		sb.className,
		sa.advanceActivity,
		sa.advTime,
		sa.advLevel,
		sa.examState,
		sa.remarks 
		from stu_basic_info sb inner join stu_adv_info sa on 
	   	sb.studentNo = sa.studentNo where 1 = 1
	  	<if test="studentNo != null">
	  		and sb.studentNo = #{studentNo}
	  	</if>
	  	<if test="studentName != null">
	  		and sb.studentName = #{studentName}
	  	</if>
	  	<if test="college != null">
	  		and sb.college = #{college}
	  	</if>
	  	<if test="major != null">
	  		and sb.major = #{major}
	  	</if>
	  	<if test="className != null">
	  		and sb.className = #{className}
	  	</if>
	  	<if test="advanceActivity != null">
	  		and sb.advanceActivity = #{advanceActivity}
	  	</if>
	  	<if test="advLevel != null">
	  		and sb.advLevel = #{advLevel}
	  	</if>
	  	<if test="advTime != null">
	  		and sb.advTime = #{advTime}
	  	</if>
	  	 <if test="examState != null">
        	and sa.examState=#{examState}
       </if>
	  	<if test="remarks != null">
	  		and sb.remarks = #{remarks}
	  	</if>
        	;
    </select>
    
    <!--使用存储过程-->
   
    <select id="queryTotalNumber" parameterType="java.util.Map" resultType="java.lang.Long">
		select 
		count(*)
		from stu_basic_info sb inner join stu_adv_info sa on 
	   	sb.studentNo = sa.studentNo where 1 = 1
	  	<if test="studentNo != null">
	  		sb.studentNo = #{studentNo}
	  	</if>
	  	<if test="studentName != null">
	  		and sb.studentName = #{studentName}
	  	</if>
	  	<if test="college != null">
	  		and sb.college = #{college}
	  	</if>
	  	<if test="major != null">
	  		and sb.major = #{major}
	  	</if>
	  	<if test="className != null">
	  		and sb.className = #{className}
	  	</if>
	  	<if test="advanceActivity != null">
	  		and sb.advanceActivity = #{advanceActivity}
	  	</if>
	  	<if test="advLevel != null">
	  		and sb.advLevel = #{advLevel}
	  	</if>
	  	<if test="advTime != null">
	  		and sb.advTime = #{advTime}
	  	</if>
	  	 <if test="examState != null">
        	and sa.examState=#{examState}
       </if>
	  	<if test="remarks != null">
	  		and sb.remarks = #{remarks}
	  	</if>
        	;
    </select>
 
     <insert id="addAdvInfo" parameterType="StuAdvInfo" useGeneratedKeys="true" keyProperty="awardNo">
		insert into stu_adv_info(awardNo,studentNo,advanceActivity,advLevel,advTime,examState,remarks)
			values
			(null,#{studentNo},#{advanceActivity},#{advLevel},#{advTime},#{examState},#{remarks})
    </insert>
    <insert id="batchAddAdvInfo" parameterType="java.util.List">
		insert into stu_adv_info(awardNo,studentNo,advanceActivity,advLevel,advTime,examState,remarks)
			values
			<foreach collection="list" item="item" index="index" separator="," >  
				(null,#{item.studentNo},#{item.advanceActivity},#{item.advLevel},#{item.advTime},#{item.examState},#{item.remarks}) 
			</foreach>
    </insert>
     <update id="updateAdvInfo" parameterType="StuAdvInfo">
		update stu_adv_info
		<set>
			<if test="studentNo != null">
	  			studentNo = #{studentNo},
	  		</if>
			<if test="advanceActivity != null">
	  			advanceActivity = #{advanceActivity},
		  	</if>
		  	<if test="advLevel != null">
		  		advLevel = #{advLevel},
		  	</if>
		  	<if test="advTime != null">
		  		advTime = #{advTime},
		  	</if>
		  	 <if test="examState != null">
	        	examState=#{examState},
	       </if>
		  	<if test="remarks != null">
		  		remarks = #{remarks},
		  	</if>
		</set>
		where awardNo = #{awardNo};
    </update>
    <update id="batchUpdateAdvInfo" parameterType="StuAdvInfo">
		update stu_adv_info
		<set>
			<if test="studentNo != null">
	  			studentNo = #{studentNo},
	  		</if>
			<if test="advanceActivity != null">
	  			advanceActivity = #{advanceActivity},
		  	</if>
		  	<if test="advLevel != null">
		  		advLevel = #{advLevel},
		  	</if>
		  	<if test="advTime != null">
		  		advTime = #{advTime},
		  	</if>
		  	 <if test="examState != null">
	        	examState=#{examState},
	       </if>
		  	<if test="remarks != null">
		  		remarks = #{remarks},
		  	</if>
		</set>
		where awardNo = #{awardNo};
    </update>
 	 <delete id="deleteAdvInfo" parameterType="java.util.List" >
		delete from stu_adv_info where  
			<foreach collection="list" item="item" index="index" separator="or" >  
				awardNo = #{item} 
		</foreach>
    </delete>
    
</mapper>
