<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 配置了日志为log4j -->
		<setting name="logImpl" value="LOG4J" />
		<!-- 配置了可使用二级缓存 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 设置懒加载 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="defaultExecutorType" value="BATCH"/>
	</settings>
<!--
	<typeAliases>
		<typeAlias alias="StuAdvInfo" type="jxau.sms.thomas.po.StuAdvInfo" />
		<typeAlias alias="StuAdvVo" type="jxau.sms.thomas.vo.StuAdvVo" />
	</typeAliases>
-->
	<mappers>

	<!--  无需配置，只需要你的mapper.xml在jxau.sms.名字.项目.dao下就行-->

	</mappers>

</configuration>